body{
    width: 100%;
    margin: auto;
    background-color: #436850;
}
h1{
    text-align: center;
    color: #FBFADA;
    padding: 20px;
    margin: 0;
}

img{
    width:  5%;
}


nav:first-of-type{
    background-color:#12372A;
    font-size: large;
    padding: 20px;
    text-align: center;
}
nav  a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px;
    color: #FBFADA;
}
a:hover{
    text-shadow:2px  2px 5px #FBFADA;
}
main{
    margin: auto;
    position: sticky;
  
}
#informacion-basica{
    text-align: center;
}
#foto1{
    display: inline-block;
    width: 20%;
    border-radius: 10%;
    box-shadow:  0px 0px  20px #12372A;

}
#foto1:hover{
    box-shadow:  0px 0px  20px #329874;
}
#foto2{
    display: inline-block;
    width: 20%;
    border-radius: 10%;
    box-shadow:  0px 0px  20px #12372A;
}
#foto2:hover{
    box-shadow:  0px 0px  20px #329874;
}
#texto{
    display: inline-block;
    width: 20%;
    padding: 25px;
    color: #FBFADA;
}