
nav:first-of-type{
    background-color:#54cc39;
    font-size: large;
    padding: 20px;
}
nav  a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px;
    color: #4E7B09;
}
main{
    background-color: #9affa2;
    float: right;
    width: 85%;
    margin: 20px;
    position: sticky;
    height: 680px;
}
body{
    width: 90%;
    margin: auto;
    background-color: wheat;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: darkgreen;
}

img{
    width: 500px;
    text-align: center;
}