body{
    width: 100%;
    margin: auto;
    background-color: #436850;
}
h1{
    text-align: center;
    color: #FBFADA;
    padding: 20px;
    margin: 0;
}
p{
    color: white;
    text-align: center;
    margin: 50px;
    background-color:#12372A
}
section{
  text-align: center;
}
figure{
  width: 15%;
  display: inline-block;
    justify-content: center;
    padding: 20px; margin: 0px;
    border: 2px solid #12372A;
    padding: 10px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 10%;
    box-shadow: 0px 0px 30px #17533e;
    text-align: center;
    background-color: #719b7f;
}
figcaption{
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

figure img{
  width: 80%;
  border-radius: 10%;
  
}

img{
    width:  5%;
}
#logo{
    float: inline-start;
    margin-top: -30px;
}
#logo2{
  float: inline-end;
  margin-top: -30px;
}

nav:first-of-type{
    background-color:#12372A;
    font-size: large;
    padding: 20px;
    text-align: center;
    

}
nav  a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px;
    color: #FBFADA;
    
}
nav a:hover{
    text-shadow:2px  2px 5px #FBFADA;
}
main{
    margin: auto;
    position: sticky;
  
}
footer{
    background-color: #12372A;
    color: white;
    text-align: center;
}
footer i:hover{
    color: rgb(221, 245, 99);
}

footer{
    background-color:#436850;
}
.buttons {
    padding: 10px;
    min-width: 500px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    }
    
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #12372A;
    color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
    }
    
    .buttons a:hover {
     
      transform: scale(1.2);
    }
    
#mapa{
    height: 350px;
    width: 500px;
  margin-left:30px;
  
  margin-top: 20px;
   
}
#ContactoLetra{
color: white;
text-align: center;
}

    .item {
        width: 500px;
        height: 300px;
      }
      
      .item.primero {
        background-image: url(../imagenes/Refugio1.jpeg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;

      }
      
      .item.segundo {
        background-image: url(../imagenes/Refugio2.jpeg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;

      }
      
      .item.tercero {
        background-image: url(../imagenes/Refugio3.jpeg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;

      }
      
      .item.cuarto {
        background-image: url(../imagenes/Regufio4.jpeg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;

      }
      
      .item.quinto {
        background-image: url(../imagenes/Refugio5.jpeg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;

      } 
      .carousel .slick-slide {
        filter: blur(5px);
        transition: ease .3s;
        transform: scale(.8, .8);
      }
      
      .carousel .slick-slide.slick-center {
        filter: none;
        transform: scale(1, 1);
      }
      
      .arrows {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
      
      .arrows i {
        margin: 10px;
        font-size: 2em;
        cursor: pointer;
      }

